<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I have 15+ years of experience in the realm of IT services including System and Database Administration, Infrastructure Engineering and Architecture. I have a unique perspective having a been a part of various teams with varying responsibilities and roles, including management. I am quite adaptable to any given situation with experiences from startup to large enterprises such as fortune 200 companies, and am able to work in any environment. I am driven by a hunger for self-improvement, to impart what I have learned to others and thrive on challenges!</p>
</div><!--//summary-->
</section><!--//section-->
