<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Solutions Architect / Infrastructure Engineer</h3>
                            <div class="time">2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Monsanto, St. Louis</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provide architecture guidance and manage AWS environment, as well as infrastructure engineering functions for various services. Leverage open source technologies where appropriate, to build scalable, fault-tolerant, and cost effective solutions in AWS to support enterprise business functions. Provide mentoring and guidance to different teams and services. Accomplishments include:</p>
                        <li>Architected and built AWS environment to service the Data Platform team while providing guidance to other teams</li>
                        <li>Architected, and engineered enterprise Geospatial platform in AWS using agile methodologies and open source components saving the business significant license costs ($M), allowed new functionality and capabilities, improved performance and increased availability</li>
                        <li>Architected, engineered and evangelized "Heimdall", a logging and monitoring service, in AWS using open source technologies such as Beats, Logstash, Prometheus, Elasticsearch, and Grafana</li>
                        <li>Engineered automated deployment pipeline using open source technologies (such as Packer, Ansible, Chef, Jenkins, and Vault) for AWS AMIs which reduced build and deployment times</li>
                        <li>Architected, engineered and evangelized data streaming pipeline solution based on open source Confluent Platform (i.e. Apache ZooKeeper, Apache Kafka, CP REST Proxy and CP Schema Registry) and MirrorMaker using custom Docker images and AWS services to serve critical business needs</li>
                        <li>Migrated from Pivotal Cloud Foundry platform to open source Cloud Foundry saving license costs</li>
                        <li>Key member in engineering and building out a custom PaaS environment based on open source components (such as CoreOS, Etcd, Fleet, Consul, Docker, Nginx, Prometheus, Logstash, Elasticsearch, Kibana) and AWS services to serve internal developers</li>
                        <li>Provide ongoing evaluation of open source technologies including Kubernetes, Vault, Terraform, etc.</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Infrastructure Engineer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Monsanto, St. Louis</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provided architecture guidance and engineering functions for the middleware and database platforms and teams including mentoring. Accomplishments included:</p>
                          <li>Upgraded and virtualized Oracle Service Bus (10g to 11g) and Oracle WebLogic Server (10g to 12c) environments resulting in $250K savings to the business</li>
                          <li>Designed and managed migration of tier 2 Oracle database environment to a more standard and consistent VMware environment</li>
                          <li>Engineered and implemented Ancestry as as Service (AaaS) solution using Neo4j (graph database) resulting in significant query time reductions (from weeks to minutes compared to existing service at the time) and providing new capabilities and functions</li>
                          <li>Architect, and engineered an upgraded, centralized Oracle Enterprise Manager (10g/11g to 12c) environment resulting in improved monitoring capabilities and management efficiencies</li>
                          <li>Architect, and engineered upgrade to new Oracle Internet Directory (10g to 11g) environment resulting in improved reliability and support</li>
                          <li>Designed, evaluated and implemented a data virtualization service using MySQL master-slave database</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Database Engineer</h3>
                            <div class="time">2008 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Monsanto, St. Louis</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Engineered and managed various enterprise database solutions as well provided 24x7 on-call support. Key accomplishments:</p>
                        <li>Key member of team which saved over $500K in support and maintenance costs, improved performance by 3x and reduced storage costs by 5x by updating, migrating and consolidating multiple single instance Oracle databases from IBM Power to Oracle Exadata RAC databases.</li>
                        <li>Engineered and led Oracle 11gR2 RAC migration and designed maintenance processes</li>
                        <li>Developed best practices and SoP which provided consistency and standardization</li>
                        <li>Designed Oracle patching and maintenance strategy which improved efficiencies by 2x</li>
                        <li>Improved reporting efficiency by 3x and saved costs by implementing enterprise ETL solution using Informatica PowerCenter</li>
                        <li>Saved over $100K in costs by implementing Oracle Grid Control 11g as enterprise database monitoring solution</li>
                        <li>Engineered software distribution solution for client and database software</li>
                        <li>Conducted benchmarking (using ORION and Swingbench), performance analysis amd tuning of solutions and designs</li>
                        <li>Engineered improved database clone process resulting in process improvement from 3 days to 4 hours</li>
                        <li>Engineered and led Oracle 11g upgrade process ensuring continued supportability of Oracle environment and cost savings</li>
                        <li>Designed and deployed enterprise-wide Oracle statistics process resulting in improved consistency and predictable database query performance</li>
                        <li>Engineered Oracle Configuration Manager (OCM) process which improved DBA visibility and efficiencies</li>
                        <li>Provided guidance and support in SAN storage design for databases which resulted in improved performance</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">IT Operations Manager</h3>
                            <div class="time">04/2007 - 12/2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Digicel, Kingston (Jamaica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led an IT Operations team responsible for global IT infrastructure, including phone and data network, helpdesk, database management and server management for a multi-million dollar communications company.
                          <li>Provided mentoring and guidance to talented team of database and system administrators</li>
                          <li>Designed and implemented improvements to business continuity plans and capabilities</li>
                          <li>Improved availability of billing application by implementing Oracle10g RAC (Solaris) solution</li>
                          <li>Improved performance of business reporting system by migrating to new data warehouse reporting platform</li>
                          <li>Designed and implemented capacity management process and system</li>
                          <li>Maintained 99.999% SLA</li>
                          <li>Improved storage performance by migrating to enterprise-level SAN (Hitachi USP)</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Database Manager</h3>
                            <div class="time">10/2005 - 03/2007</div>
                        </div><!--//upper-row-->
                        <div class="company">Digicel, Kingston (Jamaica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Led a team of Database Administrators responsible for global database management systems for a global multi-million dollar telecommunications company.
                          <li>Provided mentoring, guidance and development and performance reviews</li>
                          <li>Improved business continuity plans for database and server environments</li>
                          <li>Designed and implemented database security compliance system</li>
                          <li>Developed guidelines, and configuration management system for databases</li>
                          <li>Developed service level reports and maintained database SLAs</li>
                          <li>Enacted capacity planning for databases</li>
                          <li>Improved visibility into Oracle databases by implementing enterprise monitoring system using Oracle Grid Control.</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Oracle DBA & System Administrator</h3>
                            <div class="time">04/2002 - 09/2005</div>
                        </div><!--//upper-row-->
                        <div class="company">Digicel, Kingston (Jamaica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provided expert database and server administrative functions including 24x7 on-call support for a multi-million dollar telecommunications company.
                          <li>Evaluated and implemented updates and upgrades for database and server releases and related tools.</li>
                          <li>Conducted capacity planning activities</li>
                          <li>Maintained 99.99% SLAs</li>
                          <li>Provided weekly KPI management reports</li>
                          <li>Maintained operational data source (ODS) for enterprise reporting</li>
                          <li>Designed and implemented enterprise data warehouse for new enterprise reporting solution using Business Objects as reporting front-end</li>
                          <li>Improved storage operations and service level capabilities by implementing mid-tier SAN solution (Hitachi AMS)</li>
                          <li>Developed business continuity plans</li>
                          <li>Improved business capabilities by migrating to new postpaid billing system.</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Oracle DBA & System Administrator</h3>
                            <div class="time">04/2001 - 04/2002</div>
                        </div><!--//upper-row-->
                        <div class="company">Digicel, Kingston (Jamaica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Provided database and server administrative functions including 24x7 on-call support for startup telecommunications company.
                          <li>Evaluated and provided recommendations on database and server releases and related tools</li>
                          <li>Conducted capacity planning activities</li>
                          <li>Designed and implemented service level agreements</li>
                          <li>Improved business visibility by implementing a scheduled reporting system</li>
                          <li>Architected and engineered Operational Data Source (ODS) for enterprise reporting which connected to in-house developed reporting solution resulting in reporting, and auditing efficiencies</li>
                          <li>Maintained in-house and 3rd party applications including postpaid billing system</li></p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Systems Analyst</h3>
                            <div class="time">04/2000 - 03/2001</div>
                        </div><!--//upper-row-->
                        <div class="company">Star Technologies Ltd., Kingston (Jamaica)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Designed, evaluated and implemented database and server systems while providing problem analysis and 24x7 on-call support for a global multi-million dollar insurance company.
                          <li>Evaluated and implemented updates and upgrades for database and server releases, and related tools</li>
                          <li>Effectively monitored and planned for database storage requirements</li>
                          <li>Designed, implemented and maintained 98.99% SLAs resulting in improved customer satisfaction</li>
                          <li>Administered Oracle Applications 10.7 (Financial Module) and TOPAS pension system</li>
                          <li>Planned, managed and implemented Oracle Applications 11i upgrade</li>
                          <li>Developed menu driven backup system for Oracle databases and UNIX servers resulting in new, more efficient, online backups which enabled 24x7 business operations</li>
                          <li>Provided onboarding and mentoring for new hires</li></p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
