<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>A few of my <a href="https://github.com/cgswong?tab=repositories">GitHub projects</a>.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/cgswong/docker-aws">docker-aws</a></span> - <span class="project-tagline">Dockerized AWS command line.</span>

                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/cgswong/docker-zookeeper">docker-zookeeper</a></span> -
                    <span class="project-tagline">Dockerized Apache ZooKeeper, a centralized configuration management and  service catalog service.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/cgswong/docker-kafka">docker-kafka</a></span> - <span class="project-tagline">Dockerized Apache Kafka, a distributed message service and streaming platform.</span>
                </div><!--//item-->
            </section><!--//section-->
